/* Typografhy */

.small {
    font-size: 80%;
    font-weight: 400;
}


/* Table */

.kakashi-table {
    width: 100%;
    margin-top: 1rem;
    background-color: transparent;
}

.kakashi-table td,
.kakashi-table th {
    padding: .3rem;
}
